.sideicons__section {
	  display: grid;
	  grid-template-rows: repeat(4, 50px) 1px 50px;
	  place-items: start;
	  border-left: 1px solid lightgray;
	  float: right;
	  
}

.sideicons__section > img {
	    width: 100%;
	    max-height: 22px;
	    object-fit: contain;
	    float: right;
}

.sideicons__section > hr {
	width: 60%;

}